## Benchmark for measuring performance of engineered features and models

Prepare data for later analysis

In [1]:
import sys
sys.path.insert(0, '../../bosch_helper')

SyntaxError: invalid syntax (<ipython-input-1-564719dba3ed>, line 1)

### Analyze of numeric features

In [8]:
train = pd.read_csv('../../data/train_numeric.csv.zip', index_col=0)
test = pd.read_csv('../../data/test_numeric.csv.zip', index_col=0)

In [21]:
x = pd.concat((train, test), keys=['train', 'test'])

In [22]:
del train, test
gc.collect()

21

### Load date data, calculate start time, end time, start station, and end station

In [24]:
date_train = pd.read_csv('../../data/train_date.csv.zip', index_col=0)
date_test = pd.read_csv('../../data/test_date.csv.zip', index_col=0)

In [25]:
date = pd.concat((date_train, date_test), keys=['train', 'test'])

In [26]:
del date_train, date_test
gc.collect()

14

In [32]:
date.columns = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in date.columns])

In [33]:
time_station_start = date.groupby(level=1, axis=1).min(axis=1)

In [71]:
def find_first_nonnan(row):
    v = np.where(~np.isnan(row))[0]
    if len(v)==0:
        return np.nan
    else:
        return v[0]

In [72]:
time_station_start['station_start'] = time_station_start.apply(find_first_nonnan, axis=1)

In [73]:
def find_last_nonnan(row):
    v = np.where(~np.isnan(row))[0]
    if len(v)==0:
        return np.nan
    else:
        return v[-1]

In [74]:
time_station_start['station_last'] = time_station_start.apply(find_last_nonnan, axis=1)

In [84]:
time_station_start['station_start'] = time_station_start['station_start'].astype('category')
time_station_start['station_last'] = time_station_start['station_last'].astype('category')

In [81]:
time_station_start['time_start'] = time_station_start.iloc[:, :-2].min(axis=1)
time_station_start['time_end'] = time_station_start.iloc[:, :-2].max(axis=1)

In [90]:
time_station_start.drop(time_station_start.columns[:-4], axis=1, inplace=True)

In [92]:
time_station_start.head()

         station_start station_last  time_start  time_end
      Id
train 4            0.0         52.0       82.24     87.29
      6            4.0         52.0     1313.12   1315.75
      7            0.0         52.0     1618.70   1624.42
      9            0.0         52.0     1149.20   1154.16
      11           0.0         52.0      602.64    606.02

In [93]:
time_station_start.columns = ['station_start', 'station_end', 'time_start', 'time_end']

### Join `time_station_start` with `x`

In [94]:
x = x.join(time_station_start)

In [96]:
del time_station_start
gc.collect()

del date
gc.collect()

34

In [99]:
x.sort_values(['station_start', 'time_start', 'Id'], inplace=True)

In [100]:
gc.collect()

106

In [102]:
x.to_hdf('numeric_all.hdf', 'x', complib='zlib', comlevel=9, format='t')

### Reload data

In [103]:
x = pd.read_hdf('numeric_all.hdf', 'x')

In [104]:
x.head()

              L0_S0_F0  L0_S0_F10  L0_S0_F12  L0_S0_F14  L0_S0_F16  L0_S0_F18  \
      Id
test  510783    -0.180     -0.066      0.022      0.128     -0.204     -0.147
train 651542    -0.180     -0.021      0.022      0.168     -0.220     -0.163
      108193    -0.193     -0.021      0.030      0.208     -0.266     -0.078
test  430412    -0.153     -0.066      0.022      0.168     -0.056      0.029
      443497    -0.297     -0.021      0.052      0.208     -0.128     -0.051

              L0_S0_F2  L0_S0_F20  L0_S0_F22  L0_S0_F4    ...     \
      Id                                                  ...
test  510783    -0.213     -0.340     -0.340     0.367    ...
train 651542    -0.250     -0.340     -0.340     0.367    ...
      108193    -0.272     -0.340     -0.340     0.385    ...
test  430412    -0.235     -0.338     -0.338     0.385    ...
      443497    -0.287     -0.340     -0.340     0.367    ...

              L3_S50_F4253  L3_S51_F4256  L3_S51_F4258  L3_S51_F4260  \
      Id
test  510783           NaN           NaN           NaN           NaN
train 651542           NaN           NaN           NaN           NaN
      108193           NaN           NaN           NaN           NaN
test  430412           NaN           NaN           NaN           NaN
      443497           NaN           NaN           NaN           NaN

              L3_S51_F4262  Response  station_start  station_end  time_start  \
      Id
test  510783           NaN       NaN            0.0         52.0        0.00
train 651542           NaN       0.0            0.0         52.0        0.00
      108193           NaN       0.0            0.0         52.0        0.01
test  430412           NaN       NaN            0.0         52.0        0.01
      443497           NaN       NaN            0.0         52.0        0.01

              time_end
      Id
test  510783      1.61
train 651542      1.53
      108193      1.61
test  430412      1.53
      443497      1.53

[5 rows x 973 columns]

In [105]:
a = x.head().copy()

In [ ]:
a.apply(lambda x: hash(tuple(x[:-4])))